{{!-- Carrusel --}}
<div class="carousel__desk">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/bg/decortinas-bg-a.jpg" class="d-block w-100" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/decortinas-bg-b.jpg" class="d-block w-100" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/decortinas-bg-c.jpg" class="d-block w-100" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/decortinas-bg-d.jpg" class="d-block w-100" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="cta__bg">
        <a href="/nosotros" class="bg__txt">
            <h2>
                <p class="strong__aq">Cortinas y Persianas</p>
                <p class="modernas">Modernas</p>
            </h2>

            <div class="bg__catalogo">
                <p>Consulte nuestro catálogo</p>
                <div class="icon-right-open"></div>
            </div>
        </a>
    </div>
</div>

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/4ZjFUQeIngA" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
{{!-- Fin Imágen de fondo --}}

{{!-- Intro --}}
<div class="intro">
    <div class="container">
        <div class="intro__img">
            <img src="/img/foto-intro-cortinas.jpg" alt="De Cortinas e Interiores" title="De Cortinas e Interiores">
        </div>
        <div class="intro__txt">
            <div class="txt__header">
                <p>Interiores modernos</p>
                <h3>Acabados sutiles y acogedores</h3>
                <p><i>Para todo tipo de espacios</i></p>
            </div>
            <div class="txt__body">
                <p>Tenemos una <strong class="strong__aq">gran variedad</strong> de estilos, colores y texturas; todo
                    fabricado especialmente para el cubrimiento y la <strong class="strong__aq">decoración del hogar u
                        oficina</strong>.<br><br>
                    Conoce más de nosotros <a href="/empresa">Aquí</a>
                </p>
            </div>
        </div>
    </div>
    <div class="productos__link" id="productos"></div>
</div>
{{!-- Fin Intro --}}

{{!-- Destacados --}}
<div class="highlights">
    <div class="container">
        <div class="high__title">
            <h2>Encuentra lo que buscas, más fácil</h2>
        </div>

        <div class="high__body">
            <ul class="section__links">
                <div class="group__links">
                    <div class="item__link">
                        <li>
                            <a href="/panel-japones" class="link">Panel Japonés</a>
                            <img src="/img/products/panel-japones.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/bambulita" class="link">Bambulita</a>
                            <img src="/img/products/persiana-en-madera.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/cortina-tradicional" class="link">Cortina tradicional</a>
                            <img src="/img/products/cortina-tradicional.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/sheer-elegance" class="link">Sheer Elegance</a>
                            <img src="/img/products/sheer-elegance.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                    </div>
                    <div class="item__link">
                        <li>
                            <a href="/enrollable-blackout" class="link">Enrollable Screen y Blackout</a>
                            <img src="/img/products/persiana-blackout.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/cortina-hospitalaria" class="link">Cortina Hospitalaria</a>
                            <img src="/img/products/cortina-hospitalaria.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/persiana-vertical" class="link">Persiana Vertical</a>
                            <img src="/img/products/persiana-vertical.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/cortina-onda-perfecta" class="link">Cortina de onda perfecta</a>
                            <img src="/img/products/persiana-para-exteriores.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                    </div>
                </div>
                <div class="group__links">
                    <div class="item__link">
                        <li>
                            <a href="/enrollables-en-vinilos" class="link">Enrollables en Vinilo</a>
                            <img src="/img/products/persianas-en-vinilo.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/persiana-en-aluminio" class="link">Persiana Horizontal Aluminio</a>
                            <img src="/img/products/persiana-horizontal-aluminio.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/cortina-romana" class="link">Cortina Romana</a>
                            <img src="/img/products/cortina-romana.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/toldos" class="link">Toldos</a>
                            <img src="/img/products/toldos-pergolas-parasoles.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                    </div>
                    <div class="item__link">
                        <li>
                            <a href="/papel-de-colgadura" class="link">Papel de Colgadura</a>
                            <img src="/img/products/persianas-en-vinilo.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/peliculas-para-vidrios" class="link">Películas para vidrios</a>
                            <img src="/img/products/persiana-horizontal-aluminio.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/persianas-estampadas" class="link">Persianas Estampadas</a>
                            <img src="/img/products/persianas-en-vinilo.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                        <li>
                            <a href="/pergolas" class="link">Pergolas</a>
                            <img src="/img/products/toldos-pergolas-parasoles.jpg" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <p class="otc">Si encontraste lo que buscas<br>ingresa y pídelo <a href="/signup">Aquí</a></p>
</div>
{{!-- Fin Destacados --}}

{{!-- Claims --}}
<div class="claims">
    <div class="container">
        <div class="claims__title">
            <h2>Valores que acreditan nuestro trabajo</h2>
        </div>

        <div class="claims__fig">
            <div class="claim-a">
                <img src="/img/claims/atencion.png" alt="Claim Asesoría" title="Asesoramiento | De Cortinas e Interiores"
                    class="img__claim">
                <p class="txt__claim">Asesoramiento ágil y atención personalizada.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/calidad.png" alt="Claim Calidad" title="Calidad | De Cortinas e Interiores" class="img__claim">
                <p class="txt__claim">Instalación rápida y sin costo adicional.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/tecno.png" alt="Claim Innova" title="Innovación | De Cortinas e Interiores" class="img__claim">
                <p class="txt__claim">Material fino y de alta calidad.</p>
            </div>
        </div>

        <div class="claims__mob">
            <div class="claim-a">
                <img src="/img/claims/atencion.png" alt="Claim Asesoría" title="Asesoramiento | De Cortinas e Interiores"
                    class="img__claim">
                <p class="txt__claim">Asesoramiento humano y atención personalizada.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/calidad.png" alt="Claim Calidad" title="Calidad | De Cortinas e Interiores" class="img__claim">
                <p class="txt__claim">Trabajo profesional y de calidad.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/tecno.png" alt="Claim Innova" title="Innovación | De Cortinas e Interiores" class="img__claim">
                <p class="txt__claim">Tecnologías actualizadas y funcionales.</p>
            </div>
        </div>

    </div>
</div>
{{!-- Fin Claims --}}

{{!-- Asesoría --}}
<div class="solicitud">
    <div class="container">
        <div class="sol__title">
            <h2>Contáctanos</h2>
            <p>Pide tu producto con asistencia de instalación <strong class="strong__aq">¡Totalmente Gratis!</strong>
            </p>
        </div>

        <div class="sol__body">

            <div class="body__section">
                <h3>Registra tus datos</h3>
                <a href="https://wa.link/ra2121">
                    <img src="/img/usr-red.png" alt="De Cortinas e Interiores | Whatsapp" title="De Cortinas e Interiores | Whatsapp" class="sol__img">
                </a>
                <p>Realiza una solicitud contándonos tu caso o indicando el producto que
                    necesitas</p>
            </div>

            <div class="body__section">
                <h3>Contáctanos</h3>
                <a href="https://wa.link/ra2121">
                    <img src="/img/whats.png" alt="De Cortinas e Interiores | Whatsapp" title="De Cortinas e Interiores | Whatsapp" class="sol__img">
                </a>
                <p>Comunícate a nuestra línea de atención en Whatsapp y pide un ticket de asesoramiento<br>
                    <strong>¡sin costo alguno!</strong>
                </p>
            </div>

        </div>
        <div class="link__contacto" id="contacto"></div>
    </div>
</div>
{{!-- Fin Asesoría --}}

{{!-- Sección Mapa --}}
<div class="section__map">
    <div class="container">
        <div class="map__title">
            <h2>Encuéntranos fácilmente</h2>
            <p>Cada vez más cerca de ti</p>
        </div>
    </div>
    <div class="map__body">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.846642955504!2d-75.38436158528363!3d6.1512873955463565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469fecc02d2d7d%3A0xc28c86da7239fb2e!2sDecortinas%2C%20cortinas%20y%20persianas!5e0!3m2!1ses-419!2sco!4v1621712675363!5m2!1ses-419!2sco"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="map__txt--box">
            <div class="container">
                <h3>Estamos ubicados en <strong>Rionegro</strong></h3>

                <p>
                    <br><strong>Visítanos</strong><br>
                    O pide una asesoría con nosotros<br>
                    <br><strong>Líneas de atención</strong>
                </p>
                <ul class="call__section">
                    {{!-- <li class="icon-phone"><a href="" class="item__link">301 634 42 39</a></li> --}}
                    <li class="icon-phone"><a href="https://wa.link/fiun5w" class="item__link">301 634 42 39</a></li>
                    <li class="icon-phone"><a href="https://wa.link/1quvza" class="item__link">321 830 31 97</a></li>
                </ul>
                <div class="email__map">
                    <a href="mailto:info@decortinaseinteriores.com" rel="nofollow" target="_blank"
                        class="icon-mail">info@decortinaseinteriores.com</a>
                </div>
            </div>

            <button type="button" class="boton_mapa" data-bs-toggle="modal" data-bs-target="#exampleModal">
                ¡Escríbenos Ahora!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Forulario de solicitud</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <i>* Completa los datos del formulario y nos pondremos en contacto para concretar la
                                entrega.</i>

                            <div class="form__req">
                                <form action="/clients/add" method="POST" class="form_req">
                                    <div class="section__form">
                                        <div class="form-group">
                                            <div class="mb-3">
                                                <label class="form-label">Nombre completo:</label>
                                                <input type="text" class="form-control" name="nombre">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Correo electrónico:</label>
                                                <input type="email" class="form-control" name="email"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Teléfono:</label>
                                                <input type="text" name="telefono" class="form-control">
                                                <div id="emailHelp" class="form-text">Tus datos no serán compartidos con
                                                    terceros.</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="mb-3">
                                                <label class="form-label">Descripción</label>
                                                <textarea name="descripcion" rows="7" class="form-control"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <select class="form-select" name="producto"
                                                    aria-label="Default select example">
                                                    <option selected>¿Desea consultar un producto?</option>
                                                    <option value="1">Uno</option>
                                                    <option value="2">Dos</option>
                                                    <option value="3">Tres</option>
                                                    <option value="4">Cuatro</option>
                                                    <option value="5">Cinco</option>
                                                    <option value="6">Seis</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="mb-3 form-check">
                                        <input type="checkbox" name="check[]" class="form-check-input"
                                            id="exampleCheck1">
                                        <label class="form-check-label">He leído y acepto la <a
                                                href="/privacidad">Política de privacidad</a></label>
                                    </div> --}}
                                    <div class="form-group text-center">
                                        <button type="submit" class="boton_mapa">Enviar</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="boton_mapa" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Sección Mapa --}}

{{!-- Botón whatsapp directo --}}
<div class="sticky-wp">
    <a class="enlace-wp" rel="nofollow" target="_blank" href="https://wa.link/fiun5w">
        <p>Escríbenos por WhatsApp</p>
        <img src="/img/what-direct.png" alt="De Cortinas e Interiores" title="Productos | De Cortinas e Interiores">
    </a>
</div>