<div class="slogan">
    <div class="container">
        <p class="slogan__txt">De Cortinas e Interiores | Un toque de <strong class="strong__aq">elegancia</strong> e <strong class="strong__aq">innovación</strong> para tu casa u oficina</p>
    </div>
</div>