{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cortina de Onda Perfecta</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="info__producto">
        <div class="product__img">
            <img class="imgp-producto" src="/img/productos/cortina-onda-perfecta/modal/decortinas-op-a.jpg" alt=""
                data-bs-toggle="modal" data-bs-target="#modalCOP">
        </div>

        <div class="product__txt">
            <div class="diseno__title">
                <div class="diseno__title">
                    <h1>Cortina de Onda Perfecta | De Cortinas e Interiores</h1>
                    <p>
                        <i>En tu casa o en oficina, siempre se verán elegantes</i>
                    </p>
                </div>
            </div>
            <div class="container">
                <p class="ser__subtitle">
                    Gran versatilidad, disponible en tejido plano, redondo, mixto e intimidad, perfecto para interiores
                    y
                    exteriores gracias a ciertas propiedades que aumentan su resistencia al Sol y al Agua.
                </p>

                {{> formulario }}
            </div>
        </div>

        <div class="modal fade" id="modalCOP" aria-hidden="true" aria-labelledby="modalCOP" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCOP">Cortina de Onda Perfecta</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/cortina-onda-perfecta/modal/decortinas-op-a.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-next" data-bs-target="#modalCOP2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCOP2" aria-hidden="true" aria-labelledby="modalCOP2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCOP2">Cortina de Onda Perfecta 2</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/cortina-onda-perfecta/modal/decortinas-op-b.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalCOP" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalCOP3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCOP3" aria-hidden="true" aria-labelledby="modalCOP3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCOP3">Cortina de Onda Perfecta 3</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/cortina-onda-perfecta/modal/decortinas-op-c.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalCOP2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalCOP4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCOP4" aria-hidden="true" aria-labelledby="modalCOP4" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCOP4">Cortina de Onda Perfecta 4</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/cortina-onda-perfecta/modal/decortinas-op-d.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalCOP4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>