{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Películas para Vidrios</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="info__producto">
        <div class="product__img">
            {{!-- <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> --}}
            <img class="imgp-producto" src="/img/productos/panel-japones/modal/panel-japones-a.jpg" alt=""
                data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
        </div>

        <div class="product__txt">
            <div class="diseno__title">
                <h1>Películas para Vidrios | De Cortinas e Interiores</h1>
                <p>
                    <i>En tu casa o en oficina, siempre se verán elegantes</i>
                </p>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, exercitationem! Expedita numquam id,
                fuga architecto laudantium cumque obcaecati? Cupiditate minima assumenda earum quae, exercitationem
                eius
                corporis optio eos eum enim.</p>
        </div>

        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-a.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-b.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggleLabel3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel3">Modal 3</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-c.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggleLabel4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel4">Modal 4</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-d.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggleLabel5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel5">Modal 5</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-e.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel6" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="#exampleModalToggleLabel6" aria-hidden="true" aria-labelledby="#exampleModalToggleLabel6"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#exampleModalToggleLabel6">Modal 6</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-f.jpg" alt="">
                    </div>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle6" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel7" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="#exampleModalToggleLabel7" aria-hidden="true" aria-labelledby="#exampleModalToggleLabel7"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#exampleModalToggleLabel7">Modal 7</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-g.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle7" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel8" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade" id="#exampleModalToggleLabel8" aria-hidden="true" aria-labelledby="#exampleModalToggleLabel8"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#exampleModalToggleLabel8">Modal 8</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-h.jpg" alt="">
                    </div>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle8" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggleLabel9" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggleLabel10" aria-hidden="true" aria-labelledby="exampleModalToggleLabel10"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel10">Modal 10</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/panel-japones/modal/panel-japones-k.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle9" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Anterior</button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Volver al principio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>