{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Persiana Vertical</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="info__producto">
        <div class="product__img">
            <img class="imgp-producto" src="/img/productos/persiana-vertical/modal/decortinas-vertical-a.jpg" alt=""
                data-bs-toggle="modal" data-bs-target="#modalPV">
        </div>

        <div class="product__txt">
            <div class="diseno__title">
                <div class="diseno__title">
                    <h1>Persiana Vertical | De Cortinas e Interiores</h1>
                    <p>
                        <i>En tu casa o en oficina, siempre se verán elegantes</i>
                    </p>
                </div>
            </div>
            <div class="container">
                <p class="ser__subtitle">
                    Las líneas rectangulares creadas por las lamas de las persianas verticales que cuelgan de riel y la
                    forma
                    como se mueven y giran permiten que haya un manejo muy eficiente de la luz y la privacidad que casi
                    ningún producto puede ofrecer.
                </p>

                {{> formulario }}
            </div>
        </div>

        <div class="modal fade" id="modalPV" aria-hidden="true" aria-labelledby="modalPV" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV">Persiana Vertical</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-a.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-next" data-bs-target="#modalPV2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV2" aria-hidden="true" aria-labelledby="modalPV2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV2">Persiana Vertical 2</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-b.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV3" aria-hidden="true" aria-labelledby="modalPV3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV3">Persiana Vertical 3</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-c.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV4" aria-hidden="true" aria-labelledby="modalPV4" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV4">Persiana Vertical 4</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-d.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV5" aria-hidden="true" aria-labelledby="modalPV5" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV5">Persiana Vertical 5</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-e.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV6" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV6" aria-hidden="true" aria-labelledby="modalPV6" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV6">Persiana Vertical 6</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-f.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV7" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV7" aria-hidden="true" aria-labelledby="modalPV7" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV7">Persiana Vertical 7</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-g.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV6" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV8" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV8" aria-hidden="true" aria-labelledby="modalPV8" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV8">Persiana Vertical 8</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-h.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV7" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV9" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV9" aria-hidden="true" aria-labelledby="modalPV9" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV9">Persiana Vertical 9</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-i.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV8" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPV10" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPV10" aria-hidden="true" aria-labelledby="modalPV10" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPV10">Persiana Vertical 9</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-vertical/modal/decortinas-vertical-j.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPV9" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>