{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bambulita</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="container">
        <div class="diseno__title">
            <h1>Bambulita | De Cortinas e Interiores</h1>
            <p>
                <i>En tu casa o en oficina, siempre se verán elegantes</i>
            </p>
        </div>
    </div>

    <div class="info__producto">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
                    aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
                    aria-label="Slide 10"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-a.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-b.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-c.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-d.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-e.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-f.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-g.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-h.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-i.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/productos/panel-japones/desk/decortinas-panel-japones-desk-j.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="carr__mobile">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                        aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
                        aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
                        aria-label="Slide 10"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-a.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-b.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-c.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-d.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-e.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-f.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-g.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-h.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-i.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/panel-japones/mobile/decortinas-panel-japones-mobile-j.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container">
            <p class="ser__subtitle">
                Diseñado especialmente para cubrir puertaventanas o ventanas de piso a techo. Consiste en un delgado
                riel de aluminio que cuenta con un diseño de vías. Existen rieles de 2, 3, 4, 5 y 6 vías. En cada
                una de las vías se cuelga un telo de entre 60 a 90cm de ancho.</i>
            </p>

            <div class="boton__solicitud">
                <button class="boton_producto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    ¡Pídelo Ahora!
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Forulario de solicitud</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <i>* Completa los datos del formulario y nos pondremos en contacto para concretar la
                                entrega.</i>

                            <div class="form__req">
                                <form action="" method="post" class="form_req">
                                    <div class="section__form">
                                        <div class="form-group">
                                            <div class="mb-3">
                                                <label class="form-label">Nombre completo:</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Correo electrónico:</label>
                                                <input type="email" class="form-control" aria-describedby="emailHelp">
                                                <div id="emailHelp" class="form-text">Tus datos no serán compartidos con
                                                    terceros.</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="mb-3">
                                                <label class="form-label">Descripción</label>
                                                <textarea name="description" rows="4" class="form-control"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>¿Desea consultar un producto?</option>
                                                    <option value="1">Uno</option>
                                                    <option value="2">Dos</option>
                                                    <option value="3">Tres</option>
                                                    <option value="4">Cuatro</option>
                                                    <option value="5">Cinco</option>
                                                    <option value="6">Seis</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label">He leído y acepto la <a
                                                href="/privacidad">Política de privacidad</a></label>
                                    </div>
                                    <button type="submit" class="boton_mapa">Enviar</button>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="boton_mapa" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>