{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Persianas Estampadas</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="info__producto">
        <div class="product__img">
            <img class="imgp-producto" src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-a.jpg" alt=""
                data-bs-toggle="modal" data-bs-target="#modalPE">
        </div>

        <div class="product__txt">
            <div class="diseno__title">
                <h1>Persianas Estampadas | De Cortinas e Interiores</h1>
                <p>
                    <i>En tu casa o en oficina, siempre se verán elegantes</i>
                </p>
            </div>
            <div class="container">
                <p class="ser__subtitle">
                    Diseñado especialmente para cubrir puertaventanas o ventanas de piso a techo. Consiste en un delgado
                    riel de aluminio que cuenta con un diseño de vías. Existen rieles de 2, 3, 4, 5 y 6 vías. En cada
                    una de las vías se cuelga un telo de entre 60 a 90cm de ancho.
                </p>

                {{> formulario }}
            </div>
        </div>

        <div class="modal fade" id="modalPE" aria-hidden="true" aria-labelledby="modalPE" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPE">Persianas Estampadas</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-a.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-next" data-bs-target="#modalPE2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPE2" aria-hidden="true" aria-labelledby="modalPE2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPE2">Persianas Estampadas 2</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-b.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPE" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPE3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPE3" aria-hidden="true" aria-labelledby="modalPE3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPE3">Persianas Estampadas 3</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-c.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPE2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPE4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPE4" aria-hidden="true" aria-labelledby="modalPE4" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPE4">Persianas Estampadas 4</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-d.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPE3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPE5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPE5" aria-hidden="true" aria-labelledby="modalPE5" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPE5">Persianas Estampadas 5</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persianas-estampadas/modal/decortinas-estampadas-e.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPE4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>