{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#productos">Productos (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Persiana Enrollable</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Cuerpo --}}
<div class="diseno">
    <div class="info__producto">
        <div class="product__img">
            <img class="imgp-producto" src="/img/productos/persiana-enrollable/modal/decortinas-pr-a.jpg" alt=""
                data-bs-toggle="modal" data-bs-target="#modalPR">
        </div>

        <div class="product__txt">
            <div class="diseno__title">
                <div class="diseno__title">
                    <h1>Persiana Enrollable | De Cortinas e Interiores</h1>
                    <p>
                        <i>En tu casa o en oficina, siempre se verán elegantes</i>
                    </p>
                </div>
            </div>
            <div class="container">
                <p class="ser__subtitle">
                    Diseñado especialmente para cubrir puertaventanas o ventanas de piso a techo. Consiste en un delgado
                    riel de aluminio que cuenta con un diseño de vías. Existen rieles de 2, 3, 4, 5 y 6 vías. En cada
                    una de las vías se cuelga un telo de entre 60 a 90cm de ancho.
                </p>

                {{> formulario }}
            </div>
        </div>

        <div class="modal fade" id="modalPR" aria-hidden="true" aria-labelledby="modalPR" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR">Persiana Enrollable</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-a.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-next" data-bs-target="#modalPR2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR2" aria-hidden="true" aria-labelledby="modalPR2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR2">Persiana Enrollable 2</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-b.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR3" aria-hidden="true" aria-labelledby="modalPR3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR3">Persiana Enrollable 3</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-c.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR4" aria-hidden="true" aria-labelledby="modalPR4" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR4">Persiana Enrollable 4</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-d.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR3" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR5" aria-hidden="true" aria-labelledby="modalPR5" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR5">Persiana Enrollable 5</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-e.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR4" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR6" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR6" aria-hidden="true" aria-labelledby="modalPR6" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR6">Persiana Enrollable 6</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-f.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR5" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR7"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR7" aria-hidden="true" aria-labelledby="modalPR7"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR7">Persiana Enrollable 7</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-g.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR6"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR8"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR8" aria-hidden="true" aria-labelledby="modalPR8"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR8">Persiana Enrollable 8</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-h.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR7"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#modalPR9"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPR9" aria-hidden="true" aria-labelledby="modalPR9"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPR9">Persiana Enrollable 9</h5>
                        <a href="" data-bs-dismiss="modal" aria-label="Close" class="icon-cancel"></a>
                    </div>
                    <div class="modal-body">
                        <img src="/img/productos/persiana-enrollable/modal/decortinas-pr-i.jpg" alt="">
                    </div>
                    <div class="modal-footer">
                        <button class="carousel-control-prev" data-bs-target="#modalPR8"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>