{{!-- Inner --}}
<img src="/img/decirtinas-nosotros-d.jpg" alt="Inner Nosotros | De Cortinas e Interiores" title="Nosotros | De Cortinas e Interiores" class="inner__nos">
<img src="/img/inner-nosotros-kino-mob.jpg" alt="Inner Nosotros De Cortinas e Interiores" title="Nosotros | De Cortinas e Interiores"
    class="inner__mob">
{{!-- Fin Inner --}}
{{!-- <div class="masthead_nos"></div> --}}
{{!-- Title --}}
<div class="nos">
    <div class="container">
        <div class="nos__header">
            <h1>Nosotros somos | De Cortinas e Interiores</h1>
            <p>Ofrecemos <strong class="strong__aq">cortinas y persianas modernas</strong> para la decoración de tu
                <strong class="strong__aq">Casa u Oficina</strong>
                y darle vida a todos tus<strong class="strong__aq"> espacios</strong>.
            </p>
        </div>

        <div class="nos__body">

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Historia</h3>
                </div>
                <div class="item--body">
                    <img src="/img/decirtinas-nosotros-a.jpg" alt="Historia | De Cortinas e Interiores" title="De Cortinas e Interiores | Historia">
                    <p>
                        Somos una empresa innovadora con mas de <strong class="strong__aq">15 años</strong> dedicados a la <strong class="strong__aq">comercializacion de Cortinas y
                        Persianas</strong>.
                    </p>
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Estilo único y elegante</h3>
                </div>
                <div class="item--body" style="text-align: right;">
                    <p>
                        Ofreciendo a nuestros clientes gran <strong class="strong__aq">variedad de estilos, colores y texturas</strong>,
                        fabricados especialmente para el cubrimiento y la <strong class="strong__aq">decoración del hogar u oficina</strong>.
                    </p>
                    <img src="/img/decirtinas-nosotros-b.jpg" alt="Estilo único y elegante | De Cortinas e Interiores" title="De Cortinas e Interiores | Estilo único y elegante">
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Servicio de primera</h3>
                </div>
                <div class="item--body">
                    <img src="/img/decirtinas-nosotros-c.jpg" alt="Servicio de primera | De Cortinas e Interiores" title="Servicio de primera | Estilo único y elegante">
                    <p>
                        Prestamos un excelente <strong class="strong__aq">Servicio De Lavado, Reparación y mantenimiento</strong> de todos nuestros
                        productos, <strong class="strong__aq">servicio personalizado</strong> y atendemos directamente en su domicilio.<br>
                        <br><i>Brindamos la mejor asesoría, seguridad, calidad y garantía.</i>
                    </p>
                </div>
            </div>

        </div>

        {{!-- <div class="partners">
            <div class="part__title">
                <h3>Nuestros aliados</h3>
                <h4>Certifican nuestra labor</h4>
            </div>
            <div class="part__body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="aliance">
                                <a href="https://asesoriasjuridicasmed.com/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-ajm.png" alt="AJM" title="Asesorías Jurídicas Medellín">
                                    <p>
                                        Asesorías Jurídicas Medellín<br>
                                        Abogados profesionales en Medellín
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="https://farsalicolombia.com/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-farsali.png" alt="Farsáli Colombia"
                                        title="Farsáli Colombia">
                                    <p>
                                        Farsáli Colombia<br>
                                        Proveedores supermayoristas de productos cosméticos
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="https://teacompano.com.co/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-teacompano.png" alt="Teacompaño" title="Teacompaño">
                                    <p>
                                        Teacompaño<br>
                                        Servicios de Enfermería domicialiaria
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div> --}}
    </div>
</div>
{{!-- Fin Title --}}