<div class="videoblog">
    <div class="container">
        <div class="vb__title">
            <h1>VideoBlog | De Cortinas e Interiores</h1>
            <p>Las últimas novedades e ideas innovadoras para darle vida a tus espacios</p>
        </div>

        <div class="vb__body">
            <div class="vb__section">
                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Uno</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Dos</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Tres</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>
            </div>

            <div class="vb__section">
                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Cuatro</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Cinco</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Seis</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>
            </div>

            <div class="vb__section">
                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Siete</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Ocho</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>

                <a href="/videoblog/blog-detalle" class="vb__item">
                    <div class="item__tit">
                        <h4 class="vb__cap">Capítulo Nueve</h4>
                        <p><i>Cortinas modernas de oficina</i></p>
                    </div>
                    <div class="item__bod">
                        <img src="/img/portadas/portada-test.jpg" alt="" class="item__port">
                    </div>
                    <div class="item__foot">
                        <p><i>Conoce los secretos detrás de las cortinas modernas hoy en</i><strong> VideoBlog</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>